body {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.highlight {
  color: $primary-color;
  font-weight: bold;
}

.layout-wrapper {
  overflow-y: hidden;
  width: 100vw;
  min-height: 100vh;
}

.layout-wrapper.background-enabled {
  background: linear-gradient(90deg, rgba(0,0,0,.8), rgba(0,0,0,.8)), url('/static/images/index_background_large.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}