// background colours
.background-color-yellow {
  background-color: $palette-yellow;
}

.background-color-blue {
  background-color: $palette-blue;
}

.background-color__twitter {
  background-color: $twitter;
}

.background-color__github {
  background-color: $github;
}

.background-color__linkedin {
  background-color: $linkedin;
}

// text colours
.text-color__orange {
  color: #e64313;
}

.text-color__blue {
  color: $palette-blue;
}

.text-color__green {
  color: #7eb7aa;
}
